table {
margin-left: auto;
margin-right: auto;
border-collapse: collapse;
width: 100%;
font-size: 20px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #B8A29D;
  color: #130635;
}
tr:hover {
background-color:#f5f5f5;
color: blue;
font-size: 18px;
}

h4 {
color: blue;
}

.bg-blue {
    color: #002c56;
    }
.site-stats .site-stats-count ul li img{ max-height: 25px;}
.site-stats .site-stats-count ul li strong{ font-size: 18px; line-height: 18px; margin: 6px 0 -1px;}
.site-stats .site-stats-count ul{ margin: 0 0 10px;}
