table {
margin-left: 1px;
margin-right: 1px;
border-collapse: collapse;
width: 100%;
font-size: 20px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #B8A29D;
  color: #130635;
}
tr:hover {
background-color:#f5f5f5;
color: blue;
font-size: 18px;
}

h4 {
color: blue;
}

.bg-yellow {
background-color: #f5f0ec;
}
.bg-blue{
background-color: #c5bdae;
}
.bg-red {
background-color: #97d6b6;
}
.bg-green{
background-color: #30d6e6fa;
}
.bg-orange{
background-color: #f9f9f9;
}

.bg-info{
background-color: #64c347;
}

.bg-blue, .bg-green, .bg-red, .bg-yellow, .bg-orange{
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
    line-height: .6;
}
.bg-info {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
    line-height: .9;
}
#total, #active, #cure, #death, #states, #source {
    flex: 2;
}
body {
    font-size: 14px;
    line-height: 1.12;
    }
p {
font-size: 15.5px;
font-weight: bold;
}
a {
color: #3c1edb;
text-decoration: blink;
cursor: pointer;
}